[Unit]
Description=tests syncthing folders for conflicts and reports any found

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash $HOME/.local/share/bin/syncthing-conflict-notifier.sh
